<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>03 emoji</title>
    <script type="text/javascript" src="./src/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="./src/js/vue-2.6.10.min.js"></script>
    <link rel="icon" type="image/jpg" href="./yellow-chicken-1.jpg"/>
    <link rel="stylesheet" type="text/css" href="./src/css/main.css"/>

    <!-- <script src='./[1]yellow-chicken/list.js'></script>
    <script src='./[2]panda/list.js'></script>
    <script src="./[3]little-cute/list.js"></script>
    <script src="./[4]cat-and-dog/list.js"></script>
    <script src="./[5]Tom-and-Jerry/list.js"></script> -->
    <script src="./list.js"></script>
</head>
<body>
    <div id="main">
        <div id="catalog">
            <h1>Catalog</h1>
            <ul>
                <li v-for="item in emoji" :key="item.id">
                    <a :href="'#' + item.id" @click="onLinkClicked(item.id)">{{ item.header }}</a>
                </li>
            </ul>
            <hr>
        </div>
        <div id="emoji">
            <div v-for="i in emoji" :key="i.id" v-if="i.vif">
                <h1 :id="i.id">
                    {{ i.header }}
                    <a href="#top"><img class="return-icon" src="./return.png"></a>
                </h1>
                <img v-for="j in i.list" :key="j" :src="i.path + '/' + j">
                <hr>
            </div>
        </div>
        <div id="float-window" v-show="isFloatWindowShow">
            <a href="#top"><img src="./return.png"></a>
        </div>
    </div>
    <script type="text/javascript">
        var vue = new Vue({
            el: '#main',
            data() {
                return {
                    emoji: emojis,
                    // emoji: [{
                    //     id: "yellow-chicken",
                    //     list: ChickenList,
                    //     header: "Yellow Chicken ?",
                    //     path: "./[1]yellow-chicken/",
                    //     vif: false
                    // },{
                    //     id: "panda",
                    //     list: PandaList,
                    //     header: "Panda",
                    //     path: "./[2]panda/",
                    //     vif: false
                    // },{
                    //     id: "little-cute",
                    //     list: LittleCuteList,
                    //     header: "Little Cute",
                    //     path: "./[3]little-cute/",
                    //     vif: false
                    // },{
                    //     id: "cat",
                    //     list: CatList,
                    //     header: "Cat",
                    //     path: "./[4]cat/",
                    //     vif: false
                    // },{
                    //     id: "tom-and-jerry",
                    //     list: TomJerryList,
                    //     header: "Tom and Jerry",
                    //     path: "./[5]Tom-and-Jerry",
                    //     vif: false
                    // }],
                    isFloatWindowShow: false
                }
            }, // data
            methods: {
                onLinkClicked(index) {
                    var item = this.emoji.find(e => {
                        return e.id == index
                    });
                    item.vif = true;
                }
            }, // methods
            created() {
                
            }, // created
            mounted() {
                
            }, // mounted
        });
        window.onscroll = e => {
            if (window.pageYOffset === 0)
            {
                vue.isFloatWindowShow = false;
            } else{
                vue.isFloatWindowShow = true;
            }
        };
    </script>
</body>
</html>