<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>03 emoji</title>
    <!-- External Library -->
    <script type="text/javascript" src="./src/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="./src/js/vue-2.6.10.min.js"></script>

    <!-- Icon -->
    <link rel="icon" type="image/jpg" href="./yellow-chicken-1.jpg"/>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="./src/css/main.css"/>

    <script src="./list.js"></script>
</head>
<body>
    <div id="main">
        <div class="slogan" v-show="isSloganShow">
            <p class="cn">愿你走出半生，归来仍是少年</p>
            <p class="en">Never Be The Same</p>
        </div>
        <div id="catalog">
            <h1>Catalog</h1>
            <ul>
                <li v-for="item in emoji" :key="item.id">
                    <a :href="'#' + item.id" @click="onLinkClicked(item.id)">{{ item.header }}</a>
                </li>
            </ul>
            <hr>
        </div>
        <div id="emoji">
            <div v-for="i in emoji" :key="i.id" v-if="i.vif">
                <h1 :id="i.id">
                    {{ i.header }}
                    <a href="#top"><img class="return-icon" src="./return.png"></a>
                </h1>
                <img v-for="j in i.list" :key="j" :src="i.path + '/' + j">
                <hr>
            </div>
        </div>
        <div id="float-window" v-show="isFloatWindowShow">
            <a href="#top"><img src="./return.png"></a>
        </div>
    </div>
    <script type="text/javascript">
        var vue = new Vue({
            el: '#main',
            data() {
                return {
                    emoji: emojis,
                    isFloatWindowShow: false,
                    isSloganShow: false
                }
            }, // data
            methods: {
                onLinkClicked(index) {
                    var item = this.emoji.find(e => {
                        return e.id == index
                    });
                    item.vif = true;
                },
                controlSlogenShow(width, threshold=500) {
                    this.isSloganShow = width >= threshold ? true : false;
                }
            }, // methods
            created() {
                this.controlSlogenShow(innerWidth);
            }, // created
            mounted() {
                
            }, // mounted
        });
        window.onscroll = e => {
            if (window.pageYOffset === 0)
            {
                vue.isFloatWindowShow = false;
            } else{
                vue.isFloatWindowShow = true;
            }
        };
        window.onresize = e => {
            vue.controlSlogenShow(e.target.innerWidth);
        }
    </script>
</body>
</html>