/* Fonts */
@font-face {
    font-family: 'Bickley';
    src: url('../font/Bickley.ttf') format('truetype');
}
@font-face {
    font-family: 'tie-shan';
    src: url('../font/tieshan.ttf') format('truetype');
}

/* Style */
.return-icon {
    height: 1em;
    width: 1em;
    transform: rotate(90deg);
}

img {
    max-width: 100px;
    max-height: 100px;
}

#float-window {
    position: fixed;
    right: 2em;
    bottom: 2em;
    border: 2px solid gray;
    border-radius: 20px;
    opacity: 0.7;
}
#float-window img {
    transform: rotate(90deg);
    width: 50px;
    height: 50px;
}
.slogan {
    position: fixed;
    right: 15px;
    top: 5px;
    height: 180px;
    width: 500px;
    border: 1px dashed gray;
    border-radius: 10px;
    opacity: 0.7;
    background-color: azure;
    padding: 0 5px;
    font-size: 25px;
    text-align: center;
    vertical-align: middle;
}
.slogan > .cn {
    font-size: 50px;
    font-family: 'tie-shan';
}
.slogan > .en {
    font-size: 50px;
    font-family: 'Bickley';
}
p {
    margin: 2px;
}